 
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <offline/>
  <pluginGroups/>
    <servers>
        <server>
            <id>4science-nexus</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-iiif</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-dataquality</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-ocr</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-docviewer</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-orchestrator</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-av</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-networklab</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-loginmiur</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-importplus</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
        <server>
            <id>addon-analytics</id>
            <username>${env.MVN_ADDON_USERNAME}</username>
            <password>${env.MVN_ADDON_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>addon-iiif</id>
            <repositories>
                <repository>
                    <id>addon-iiif</id>
                    <name>Repository for Private addon-iiif 4Science</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-iiif/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-dataquality</id>
            <repositories>
                <repository>
                    <id>addon-dataquality</id>
                    <name>Repository for Private 4Science Data Quality Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-dataquality/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-ocr</id>
            <repositories>
                <repository>
                    <id>addon-ocr</id>
                    <name>Repository for Private 4Science OCR Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-ocr/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-document-viewer</id>
            <repositories>
                <repository>
                    <id>addon-docviewer</id>
                    <name>Repository for Private 4Science Docviewer Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-docviewer/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-orchestrator</id>
            <repositories>
                <repository>
                    <id>addon-orchestrator</id>
                    <name>Repository for Private 4Science Orchestrator Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-orchestrator/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-video</id>
            <repositories>
                <repository>
                    <id>addon-av</id>
                    <name>Repository for Private 4Science Audio Video Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-av/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-networklab</id>
            <repositories>
                <repository>
                    <id>addon-networklab</id>
                    <name>Repository for Private 4Science Networklab Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-networklab/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-loginmiur</id>
            <repositories>
                <repository>
                    <id>addon-loginmiur</id>
                    <name>Repository for Private 4Science Loginmiur Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-loginmiur/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-importplus</id>
            <repositories>
                <repository>
                    <id>addon-importplus</id>
                    <name>Repository for Private 4Science Importplus Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-importplus/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>addon-analytics</id>
            <repositories>
                <repository>
                    <id>addon-analytics</id>
                    <name>Repository for Private 4Science Analytics Addon</name>
                    <url>https://nexus.4science.it/repository/mvn-repo-analytics/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles/>
  <mirrors/>
  <proxies/>
</settings>
