{
	"name": "@dc.title@",
	"nameAlternative": "@dc.title.alternative@",
	"latitude": "@glamplace.lat@",
	"longitude": "@glamplace.long@",
	"dbpedialink": [
	    "@glam.link.dbpedia@",
	],
	"wikipedialink": [
	    "@glam.link.wikipedia@",
	],
	"aggregations": [
        @group.dc-relation-aggregation.start@
        {
            "name": "@dc.relation.aggregation@"
        },
        @group.dc-relation-aggregation.end@
    ]
}