#------------------------------------------------------------------#
#------------------CHECKSUM CHECKER CONFIGURATION------------------#
#------------------------------------------------------------------#
# These configs are used by classes related to the checksum        #
# script.                                                          #
#------------------------------------------------------------------#

# Name prefix of the temp CSV file that will contain the checksum result
checksum-checker.csv.checksum.error.outputfile.prefix = error_report
# Directory that will contain all the checksum script results.
checksum-checker.csv.checksum.outputfile.tempdir = ${dspace.dir}/checksum
# Separator that will be used inside the CSV file
checksum-checker.csv.checksum.separator = \,
# The email template that will be used it is placed under the mail/template folder
checksum-checker.csv.checksum.mail.template = checksum_checker
# The recipients that will be used for the mail.
checksum-checker.csv.checksum.mail.recipients = no_reply@4science.com