#---------------------------------------------------------------#
#--------------------CRIS CONFIGURATIONS------------------------#
#---------------------------------------------------------------#
# These configs are used by the CRIS extended functionalities   #
#---------------------------------------------------------------#
# which entity-types are enforce in the system
cris.entity-type = Person
cris.entity-type = Project
cris.entity-type = OrgUnit
cris.entity-type = Publication
cris.entity-type = Event
cris.entity-type = ArchivalMaterial
cris.entity-type = Fonds
cris.entity-type = Family
cris.entity-type = Place
cris.entity-type = JournalFonds
cris.entity-type = Aggregation
cris.entity-type = News
cris.entity-type = StaticPage
cris.entity-type = JournalFile
cris.entity-type = Path
cris.entity-type = Opera
cris.entity-type = Coin
cris.entity-type = ScientificMaterial
cris.entity-type = Picture
cris.entity-type = AudioVideo
cris.entity-type = Artwork
cris.entity-type = MusicalLibrettos
cris.entity-type = WebAnnotation
cris.entity-type = PersonalAnnotation
#cris.entity-type = Concept
#cris.entity-type = Interpretation
#cris.entity-type = Herbarium


########### CRIS Consumer configuration ###############
cris-consumer.skip-empty-authority = false
cris.item-reference-resolution.override-metadata-value = false

# It specifies whether CrisConsumer should use template while creating related items.
# By default it is false and so no template is used.
# cris.import.submission.enabled.entity.use-template = true

# It specifies whether CrisConsumer should use template while creating
# related item linked via specified authority field.
# cris.import.submission.enabled.entity.{authority_field_separated_by_underscores}.use-template = true

# Max size, in bytes of bitstreams without a custom thumbnail
# to be rendered directly as thumbnail
cris.layout.thumbnail.maxsize = 250000

########### CRIS Excluded submissions by entity types ###############
# It specifies which entity types will be excluded from the submission process.
# By default we excluded WebAnnotation and PersonalAnnotation,
# since are handled by the AnnotationRestController.
# submission.excluded.entity-type = WebAnnotation,PersonalAnnotation