#------------------------------------------------------------------#
#--------------------DROID SCRIPT CONFIGURATION--------------------#
#------------------------------------------------------------------#
# These configs are used by classes related to the droid           #
# (checksum_checker) script.                                       #
#------------------------------------------------------------------#

# droid temporary folder used to copy the bitstream and run the validation on that
droid.temp.file = droid_temp
# droid signature configuration file
droid.signature.file = ${droid.dir}/DROID_SignatureFile_V119.xml
# droid container configuration file
droid.container.file = ${droid.dir}/container-signature-20240715.xml

# Name prefix of the temp CSV file that will contain the droid result
droid.csv.checksum.outputfile.prefix = droid_csv
# Directory that will contain all the droid script results.
droid.csv.checksum.outputfile.tempdir = ${dspace.dir}/droid_csv
# Separator that will be used inside the CSV file
droid.csv.checksum.separator = \,
# The email template that will be used it is placed under the mail/template folder
droid.csv.checksum.mail.template = droid
# The recipients that will be used for the mail.
droid.csv.checksum.mail.recipients = no_reply@4science.com
