#---------------------------------------------------------------#
#------------SUBMISSION CURATION CONFIGURATIONS-----------------#
#---------------------------------------------------------------#
# This file contains configuration properties solely relating   #
# to the scheduling of curation tasks during submission -- that #
# is:  when tasks are attached to a workflow.                   #
#---------------------------------------------------------------#
# TODO: UNSUPPORTED in DSpace 7.0
# Scan for viruses
submission-curation.virus-scan = false

# Report serializer plugin, to capture submission task reports.
# Uncomment exactly one, or configure your own.
# FileReporter writes reports to ${report.dir}/curation-yyyyMMddThhmmssSSS.report
plugin.single.org.dspace.curate.Reporter = org.dspace.curate.FileReporter
# LogReporter writes report lines to the DSpace log.
#plugin.single.org.dspace.curate.Reporter = org.dspace.curate.LogReporter



#-------------------------------------------------------------------------------#
#----- Configs for CurationTaskConsumer & CurationOrchestratorScript -----------#
#-------------------------------------------------------------------------------#
# define metadata configured in submission form which contains list of curatin tasks to run
curation.task.metadata.definition = cris.curation.task
# define bitstream metadata field name which contains curation task to exclude from execution
curation.task.bitstream.metadata.definition = bitstream.curation.exclude

# S3 configs
aws.s3.bucket =
aws.s3.region =
#aws.s3.rolearn =
#aws.s3.externalid =
